---
import HelloReact from '../components/HelloReact.jsx';
---

<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>Astro 示例页面</title>
  </head>
  <body>
    <h1>默认纯静态 HTML 渲染（无交互）</h1>
    <HelloReact />

    <h1>开启客户端交互（加载 React JS）</h1>
    <HelloReact client:load />
  </body>
</html>
